body {
    margin: 0;
}

header {
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    background: var(--header-backgroung);
    color: var(--header-text);
    gap: 100px;
}


.logo {
    height: inherit;
}

.menu {
    display: flex;
    gap: 60px;
    flex-direction: row;
    align-items: center;
}


.header-link {
    color: var(--header-text);
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
}

.header-link:hover {
    color: var(--header-text-hover);
}

.link-active {
    color: var(--header-text-hover);
}

.content {
    min-height: calc(100vh - 200px);
    background: var(--content-backgroung);
    color: var(--content-text);
    overflow: hidden;
    padding: 40px;
}

footer {
    background: var(--footer-backgroung);
    color: var(--footer-text);
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    gap: 200px;
}

footer .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer a {
    color: var(--footer-text);
    text-decoration: none;
}