{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/main.css">
{% endblock %}

{% block title %}
<title>Промптинг это</title>
{% endblock %}

{% block content %}
<div class="main-wiki">
    <div class="row">
        <div class="main-top-text">
            Промптинг-сервис
        </div>
    </div>
    <div class="row">
        <p class="wiki-text">
            <b>Промпт</b> — это метод, используемый в машинном обучении для управления или инструктирования языковых
            моделей, таких как, например, ChatGPT.<br><br>
            <b>Промпт-инженер</b> — это тот, кто разрабатывает и создает подсказки или инструкции по вводу для модели.
            Они
            создают конкретные подсказки, которые помогают генерировать желаемые результаты или ответы
            модели.<br><br>
            Функциональная часть промптов заключается в предоставлении исходного контекста, указании желаемой
            задачи или управлении поведением модели. Создавая хорошо продуманные подсказки, инженеры могут
            контролировать и
            влиять на выходные данные языковой модели. Подсказки можно использовать для различных задач, таких как
            создание
            текста, ответы на вопросы, перевод языков, обобщение контента или даже игры.<br><br>
            Наш <a href="/prompt" style="text-decoration: none">промпт-генератор</a> призван полностью заменить
            промпт-инженера и повысить эффективность сотрудников финансовой сферы.
        </p>
    </div>
</div>
{% endblock %}